html
  head
    link(href='/lib/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/lib/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    script(src='/lib/jquery-1.9.1.js') 
    script(src='/lib/bootstrap/js/bootstrap.js') 

    script(src='/js/app.js', type='text/javascript')
  body
    .container
      .row
        h1 Angular Momentum Lesson 1
        p This simple app posts messages on a public board anonymously.
        a(href="html/message.html") Click here to edit messages
      .row
        #messages